<section class="hero-banner-section">
	<div class="hero-banner-inner">
		<div class="container-fluid">
			<owl-carousel-o [options]="customOptions">
				<ng-template carouselSlide>
					<div class="item">
						<div
							class="slide-owl"
							style="background-image: url(assets/images/slide-1.jpg);"
						>
							<div class="banner-caption">
								<div class="container">
									<div class="row">
										<div class="col-xl-12 col-lg-12 col-md-12">
											<div class="hero-container-box">
												<div class="caption-box">
													<h2>Red Rocks</h2>
													<h3>Why is Mars red?</h3>
													<p>
														Explore Karijini Gorge in Australia and Oak Creek
														Canyon in Sedona, AZ searching for clues to the
														environments that formed the red rocks there.
														Observe these rock formations at a variety of scales
														to gather these clues. Finally, apply understanding
														of red rock formation on Earth to red rock formation
														on Mars.
													</p>
													<a href="#" class="btn btn-launch">Launch</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
				<ng-template carouselSlide>
					<div class="item">
						<div
							class="slide-owl"
							style="background-image: url(assets/images/slide-2.jpg);"
						>
							<div class="banner-caption">
								<div class="container">
									<div class="row">
										<div class="col-xl-12 col-lg-12 col-md-12">
											<div class="hero-container-box">
												<div class="caption-box">
													<h2>Red Rocks</h2>
													<h3>Why is Mars red?</h3>
													<p>
														Explore Karijini Gorge in Australia and Oak Creek
														Canyon in Sedona, AZ searching for clues to the
														environments that formed the red rocks there.
														Observe these rock formations at a variety of scales
														to gather these clues. Finally, apply understanding
														of red rock formation on Earth to red rock formation
														on Mars.
													</p>
													<a href="#" class="btn btn-launch">Launch</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</owl-carousel-o>
		</div>
	</div>
</section>
