<section class="hero-banner-section">
	<div class="hero-banner-inner">
		<div class="container-fluid" *ngIf="customOptions">
			<owl-carousel-o [options]="customOptions">
				<ng-container *ngFor="let slide of pageData.heroContent; let i = index">
					<ng-template carouselSlide>
						<div class="item">
							<div
								class="slide-owl"
								style="background-image: url({{ environment.api_url }}/{{
									slide.heroImage.url
								}});"
							>
								<div class="banner-caption">
									<div class="container">
										<div class="row">
											<div class="col-xl-12 col-lg-12 col-md-12">
												<div class="hero-container-box">
													<div class="caption-box">
														<h2>{{ slide.title }}</h2>
														<p [innerHTML]="slide.description"></p>
														<a href="#" class="btn btn-launch">Launch</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ng-container>
			</owl-carousel-o>
		</div>
	</div>
</section>
