<header
	class="header"
	[ngClass]="current_page == '/search' ? 'header-color2 seacrh-header' : ''"
>
	<!-- Fixed navbar -->
	<nav
		class="navbar navbar-expand-md navbar-dark"
		#stickyMenu
		[class.fixed-top]="sticky"
	>
		<div class="main-header">
			<div class="container-fluid">
				<div class="row row-100 col-header">
					<!-- <div class="col-lg-3 col-12 col-30">
               
              </div> -->
					<div class="col-lg-12 col">
						<div class="logo-heder">
							<div class="container p-0">
								<a
									class="navbar-brand smoth-scroll show-in-web"
									href="javascript:void(0)"
									(click)="gotoRoute('/')"
								>
									<img src="assets/images/logo.svg" class="menu-logo" alt="" />
								</a>
								<a
									class="navbar-brand smoth-scroll show-in-mobile"
									href="javascript:void(0)"
									(click)="gotoRoute('/')"
								>
									<img
										src="assets/images/mobile-logo.png"
										class="menu-logo"
										alt=""
									/>
								</a>
							</div>
						</div>
						<div class="header-control">
							<div class="search-bar">
								<div class="educator">
									<p>Educatore Mode</p>
									<div class="switch-slider">
										<input
											type="checkbox"
											class="toggle"
											id="toggle"
											checked=""
										/>
										<label for="toggle">
											<span class="on">On</span>
											<span class="off">Off</span>
										</label>
									</div>
								</div>
								<div class="search-input">
									<div class="form-group mb-0">
										<input
											type="text"
											class="form-control serach-text"
											[class.d-block]="searchOpen"
											placeholder="Search for content, tags, authors ..."
										/>
										<button
											type="button"
											class="btn btn-search show-in-mobile"
											(click)="toggleSearch()"
										>
											<i class="fas fa-search"></i>
										</button>
										<button
											type="button"
											class="btn btn-search show-in-web"
											(click)="search()"
										>
											<i class="fas fa-search"></i>
										</button>
										<a
											href="javascript:void(0)"
											class="d-none close-search"
											(click)="toggleSearch()"
											[class.d-flex]="searchOpen"
											*ngIf="searchOpen"
										>
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
							</div>

							<div class="top-header-right">
								<app-notification></app-notification>
								<app-profile></app-profile>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="sub-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<button class="navbar-toggler" (click)="toggleNav()" type="button">
							<span class="navbar-toggler-icon"
								><i class="fas fa-bars"></i
							></span>
						</button>
						<div
							class="collapse1 navbar-collapse sidenav-new-menu"
							id="mySidenav2"
							[class.width-menu]="naveOpen"
						>
							<a
								href="javascript:void(0)"
								class="closebtn"
								(click)="toggleNav()"
								*ngIf="naveOpen"
							>
								<span>
									<span class="menu-bar-logo">
										<i class="fas fa-bars"></i
									></span>
									<img
										src="assets/images/mobile-logo-gray.png"
										class="menu-mobile-logo"
										alt=""
									/>
								</span>
								<span>
									<!-- <img src="assets/images/close-menu.png" class="close-img" alt="" /> -->
									<span class="menu-bar-close">
										<i class="fas fa-times"></i
									></span>
								</span>
							</a>
							<ul class="navbar-nav">
								<li class="nav-item dropdown">
									<a
										class="nav-link smoth-scroll dropdown-toggle"
										href="#"
										type="button"
										id=""
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										About Us
									</a>
									<div class="dropdown-menu" aria-labelledby="">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</li>

								<li class="nav-item dropdown">
									<a
										class="nav-link smoth-scroll dropdown-toggle"
										href="#"
										type="button"
										id=""
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										Testimonials
									</a>
									<div class="dropdown-menu" aria-labelledby="">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</li>

								<li class="nav-item dropdown">
									<a
										class="nav-link smoth-scroll dropdown-toggle"
										href="#"
										type="button"
										id=""
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										Educator PD
									</a>
									<div class="dropdown-menu" aria-labelledby="">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</li>

								<li class="nav-item dropdown">
									<a
										class="nav-link smoth-scroll dropdown-toggle"
										href="#"
										type="button"
										id=""
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										Advisory
									</a>
									<div class="dropdown-menu" aria-labelledby="">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</li>

								<li class="nav-item dropdown">
									<a
										class="nav-link smoth-scroll dropdown-toggle"
										href="#"
										type="button"
										id=""
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										Media
									</a>
									<div class="dropdown-menu" aria-labelledby="">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</li>
							</ul>
						</div>

						<!-- layer modile and ipad menu -->
						<div
							id="cd-shadow-layer"
							onclick="closeNav2()"
							style="display: none;"
						></div>
						<!-- laeyer end -->
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
