@media (max-width: 767.98px) {
	.offcanvas-collapse {
		position: fixed;
		top: 56px; /* Height of navbar */
		bottom: 0;
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
		overflow-y: auto;
		background-color: var(--gray-dark);
		transition: -webkit-transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);

		.open {
			-webkit-transform: translateX(-1rem);
			transform: translateX(
				-1rem
			); /* Account for horizontal padding on navbar */
		}
	}

	.nav-underline {
		left: 0 !important;
		transform: none !important;
		position: inherit !important;
	}
}

.nav-custom {
	background-color: #5c5c5c;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;

	.nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		padding-bottom: 1rem;
		margin-top: -1px;
		overflow-x: auto;
		color: rgba(255, 255, 255, 0.75);
		text-align: center;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	}
}

.nav-underline {
	left: 50%;
	transform: translateX(-50%);
	position: absolute;

	.nav-link {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		font-size: 0.875rem;
		color: #b7b7b7;
	}

	.nav-link:hover {
		color: #ffffff;
	}

	.active {
		font-weight: 500;
		color: #ffffff;
	}
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #fff;
	background-color: transparent;
}

.search-center {
	width: 100%;
	display: flex;
	justify-content: center;

	input {
		width: 50%;
	}
}
