<div class="community-row">
	<div class="common-title-header-div">
		<div class="row">
			<div class="col-lg-6 col-md-6 left-title">
				<div class="heading-left">
					<div class="heading">
						<h2>Community</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 right-title">
				<div class="heading-right">
					<div class="button-group-box">
						<a href="#" class="btn btn-link mr-20">What's the Hive?</a>
						<a href="#" class="btn btn-join">Join the Hive!</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="common-post-event-root">
		<div class="row mlr-8">
			<div class="col-lg-3 col-md-6 plr-8 card-post-event-col col-6">
				<div class="post-event-card-box">
					<h3>Featured Post</h3>
					<div class="prag-text">
						<p>Post title lorem ipsum dolor sit amet, cu eam ubique</p>
					</div>
					<div class="bottom-text-row">
						<div class="bottom-up-text">
							<p>Community Member</p>
						</div>
						<div class="bottom-down-text">
							<div class="bottom-down-text-left">
								<p class="time-text">Month DD, YYYY, HH:MM PM</p>
							</div>
							<div class="bottom-down-text-right">
								<div class="icon-box comment-icon-box">
									<a href="" class="btn-icon"
										><i class="fas fa-comment-alt"></i>
										<span class="icon-text">31</span>
									</a>
								</div>
								<div class="icon-box comment-icon-box">
									<a href="" class="btn-icon"
										><i class="fas fa-heart"></i>
										<span class="icon-text">31</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 plr-8 card-post-event-col col-6">
				<div class="post-event-card-box">
					<h3>Most Recent Post</h3>
					<div class="prag-text">
						<p>Post title lorem ipsum dolor sit amet, cu eam ubique</p>
					</div>
					<div class="bottom-text-row">
						<div class="bottom-up-text">
							<p>Community Member</p>
						</div>
						<div class="bottom-down-text">
							<div class="bottom-down-text-left">
								<p class="time-text">Month DD, YYYY, HH:MM PM</p>
							</div>
							<div class="bottom-down-text-right">
								<div class="icon-box comment-icon-box">
									<a href="" class="btn-icon"
										><i class="fas fa-comment-alt"></i>
										<span class="icon-text">31</span>
									</a>
								</div>
								<div class="icon-box comment-icon-box">
									<a href="" class="btn-icon"
										><i class="fas fa-heart"></i>
										<span class="icon-text">31</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 plr-8 card-post-event-col col-6">
				<div class="post-event-card-box">
					<h3>Top Post</h3>
					<div class="prag-text">
						<p>Post title lorem ipsum dolor sit amet, cu eam ubique</p>
					</div>
					<div class="bottom-text-row">
						<div class="bottom-up-text">
							<p>Community Member</p>
						</div>
						<div class="bottom-down-text">
							<div class="bottom-down-text-left">
								<p class="time-text">Month DD, YYYY, HH:MM PM</p>
							</div>
							<div class="bottom-down-text-right">
								<div class="icon-box comment-icon-box">
									<a href="" class="btn-icon"
										><i class="fas fa-comment-alt"></i>
										<span class="icon-text">31</span>
									</a>
								</div>
								<div class="icon-box comment-icon-box">
									<a href="" class="btn-icon"
										><i class="fas fa-heart"></i>
										<span class="icon-text">31</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 plr-8 card-post-event-col col-6">
				<div class="post-event-card-box">
					<h3>Featured Event</h3>
					<div class="prag-text">
						<p>Post title lorem ipsum dolor sit amet, cu eam ubique</p>
					</div>
					<div class="bottom-text-row">
						<div class="bottom-up-text">
							<p>Community Member</p>
						</div>
						<div class="bottom-down-text">
							<div class="bottom-down-text-left">
								<p class="time-text">Month DD, YYYY, HH:MM PM</p>
							</div>
							<div class="bottom-down-text-right">
								<div class="icon-box comment-icon-box">
									<a href="" class="btn-icon"
										><i class="fas fa-comment-alt"></i>
										<span class="icon-text">31</span>
									</a>
								</div>
								<div class="icon-box comment-icon-box">
									<a href="" class="btn-icon"
										><i class="fas fa-heart"></i>
										<span class="icon-text">31</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
