<div class="user">
	<div class="user-drop-down">
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img src="assets/images/profile.jpg" class="img-fluid img-user" alt="user" />
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Profile</a>
				<a class="dropdown-item" href="#">Toolbox</a>
				<a class="dropdown-item" href="#">Bookmarks </a>
				<a class="dropdown-item" href="#">Logout</a>
			</div>
		</div>
	</div>
</div>