<div class="search-filter">
	<div class="search-heading">
		<h3>Search Filters</h3>
		<a href="#" class="btn-collaps">
			<i class="fas fa-chevron-left"></i>
		</a>
	</div>
	<div class="search-control">
		<div class="exploring-div">
			<h3>Exploring</h3>
			<form>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="customCheck" name="example1" />
					<label class="custom-control-label" for="customCheck">Collection</label>
				</div>

				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="customCheck2" name="example1" checked />
					<label class="custom-control-label" for="customCheck2">Lessons</label>
				</div>

				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="customCheck3" name="example1" />
					<label class="custom-control-label" for="customCheck3">Visualizations</label>
				</div>
			</form>
		</div>

		<div class="createdby-div">
			<h3>Created By</h3>
			<form>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="customCheck21" name="example1" />
					<label class="custom-control-label" for="customCheck21">All Creators</label>
				</div>
				<div class="group-checkbox">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck22" name="example1"
							checked />
						<label class="custom-control-label" for="customCheck22">Infiniscope</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck23" name="example1" />
						<label class="custom-control-label" for="customCheck23">Collaboration</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck24" name="example1" />
						<label class="custom-control-label" for="customCheck24">Advisory</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck25" name="example1" />
						<label class="custom-control-label" for="customCheck25">Member</label>
					</div>
				</div>
			</form>
		</div>

		<div class="range-div">
			<h3>Grade Range</h3>
			<form>
				<div class="custom-control custom-radio">
					<input type="radio" class="custom-control-input" id="defaultUnchecked" name="range" />
					<label class="custom-control-label" for="defaultUnchecked">K - 4</label>
				</div>

				<div class="custom-control custom-radio">
					<input type="radio" class="custom-control-input" id="defaultUnchecked1" name="range" />
					<label class="custom-control-label" for="defaultUnchecked1">5 - 8</label>
				</div>

				<div class="custom-control custom-radio">
					<input type="radio" class="custom-control-input" id="defaultUnchecked2" name="range" />
					<label class="custom-control-label" for="defaultUnchecked2">9 - 12</label>
				</div>

				<div class="custom-control custom-radio">
					<input type="radio" class="custom-control-input" id="defaultUnchecked3" name="range" />
					<label class="custom-control-label" for="defaultUnchecked3">13+</label>
				</div>
			</form>
		</div>

		<div class="topic-div">
			<h3>Topics</h3>
			<div class="form-group">
				<input type="text" class="form-control" />
				<button type="button" class="btn btn-search">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>

		<div class="mostpopular-div">
			<h3>Most Popular</h3>
			<div class="tag-list">
				<a href="#!" class="tag active">Tag A</a>
				<a href="#!" class="tag">Tag B</a>
				<a href="#!" class="tag active">Tag C</a>
				<a href="#!" class="tag">Tag D</a>
				<a href="#!" class="tag">Tag E</a>

				<a href="#" class="showall">+Show all</a>
			</div>
		</div>

		<div class="audinece-div">
			<h3>Audience Type</h3>
			<form>
				<div class="custom-control custom-checkbox selected">
					<input type="checkbox" class="custom-control-input" id="customCheck211" name="example1" checked />
					<label class="custom-control-label" for="customCheck211">All</label>
				</div>
				<h4>Formal</h4>
				<div class="group-checkbox">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck222" name="example1"
							checked />
						<label class="custom-control-label" for="customCheck222">Infiniscope</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck232" name="example1" />
						<label class="custom-control-label" for="customCheck232">Life Science</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck242" name="example1" />
						<label class="custom-control-label" for="customCheck242">Earth and Space Science</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck252" name="example1" />
						<label class="custom-control-label" for="customCheck252">Physical Science</label>
					</div>
				</div>
				<h4>Informal</h4>
				<div class="group-checkbox">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck223" name="example1"
							checked />
						<label class="custom-control-label" for="customCheck223">Library</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck233" name="example1" />
						<label class="custom-control-label" for="customCheck233">Musuem</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck243" name="example1" />
						<label class="custom-control-label" for="customCheck243">After-School</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck253" name="example1" />
						<label class="custom-control-label" for="customCheck253">Camp</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck254" name="example1" />
						<label class="custom-control-label" for="customCheck254">Science Center</label>
					</div>
				</div>
			</form>
		</div>

		<div class="language-div">
			<h3>Languages</h3>
			<form>
				<div class="custom-control custom-checkbox selected">
					<input type="checkbox" class="custom-control-input" id="customCheck211" name="example1" checked />
					<label class="custom-control-label" for="customCheck211">All</label>
				</div>
				<h4>Supported</h4>
				<div class="group-checkbox">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck2222" name="example1"
							checked />
						<label class="custom-control-label" for="customCheck2222">English</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck3333" name="example1" />
						<label class="custom-control-label" for="customCheck3333">Español</label>
					</div>
				</div>
			</form>
		</div>

		<div class="campatiblity-div">
			<h3>Hardware Compatibility</h3>
			<form>
				<div class="custom-control custom-checkbox selected">
					<input type="checkbox" class="custom-control-input" id="customCheck2115" name="example1" checked />
					<label class="custom-control-label" for="customCheck2115">All</label>
				</div>
				<h4>Hardware</h4>
				<div class="group-checkbox">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck2225" name="example1"
							checked />
						<label class="custom-control-label" for="customCheck2225">PC</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck2325" name="example1" />
						<label class="custom-control-label" for="customCheck2325">Chromebook</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck2425" name="example1" />
						<label class="custom-control-label" for="customCheck2425">Mac</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck2525" name="example1" />
						<label class="custom-control-label" for="customCheck2525">iPad / iPhone</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck2625" name="example1" />
						<label class="custom-control-label" for="customCheck2625">Android Tablet / Phone</label>
					</div>
				</div>
				<h4>Browser</h4>
				<div class="group-checkbox">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck2236" name="example1"
							checked />
						<label class="custom-control-label" for="customCheck2236">Chrome</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck2336" name="example1" />
						<label class="custom-control-label" for="customCheck2336">FireFox</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck2436" name="example1" />
						<label class="custom-control-label" for="customCheck2436">Safari</label>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>